/* Correction du body */
html, body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
}

.root {
  flex: 1; /* Assure que le contenu occupe tout l’espace restant entre menu et footer */
  margin-top: 70px; /* Ajuste la position du contenu sous le menu */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.container-fluid {
  width: 100%;
}

.footer {
  width: 100vw; /* Assure que le footer prend toute la largeur */
  background-color: #5b3e23;
  color: black;
  padding: 20px;
  text-align: center;
}

/* Ajustement de la navbar */
.navbar-custom {
    width: 100vw; /* Pleine largeur */
    position: fixed; /* Fixé en haut */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1050; /* Priorité visuelle pour rester au-dessus du formulaire */
}

/* Ajustement du container */
.container {
    margin-top: 100px; /* Assurez un espace sous la navbar */
}

/* Correction des boutons */
.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 80%;
    margin-left: 3px;
}

.btn-select {
    background-color: #198754;
    color: white;
}

/* Ajustement de la structure `.form-container` */
.form-container {
    position: relative;
    z-index: 1000; /* Le formulaire reste sous la navbar */
    min-height: calc(100vh - 80px); /* Ajustement pour éviter l'empilement */
}

/* Ajustement des cartes */
.card {
    margin-left: 10px;
    margin-right: 10px;
}
